### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iml

### OS ###
.DS_Store
Thumbs.db
